body{
    background-color: rgba(253, 211, 159, 0.548);
}
hr{
    width: 300px;
}
h1{
    margin-top: 100px;
}

agm-map {
    height: 300px;
}

li{
    margin: auto;
}

.colorsitos{
    background-color: rgb(150, 127, 255);
    color: white !important;
}

.listas{
    width: 30%;
    margin: auto;
}